/* NAVBAR STYLING*/

/*Importing the font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Building the Nav*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    margin-bottom: 0vh;
}

img{
    width: 17vh;
}

/*Styling the links*/
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.links li{
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.links li:hover{
    text-shadow: 1px 1px 10px #4492ec83;
    filter: dropshadow(color=#44dcf783, offx=2, offy=2);
}

.links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/*Button*/
.button{
    background-color: transparent;
    border-radius: 5px;
    font-family: "Poppins";
    border: solid 1.5px black;
    height: 4.5vh;
    width: 12.6vw;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*Creating the burger*/
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: transform 0.5s ease;
}

@media screen and (max-width:1024px){
    .links{
        width: 70%;
    }
    .button{
        width: 13vh
    }

}


@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }

    .links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #4f8cfe;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .links li{
        opacity: 0;
        color: white;
    }
    .burger{
        display: block;
    }
    .button{
        height: 10vh
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 7.5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -7.5px);
}



/*BUILDING THE WEBSITE TITLE*/

html{
    font-family: 'Poppins'
}

body{
    background-color: white;
    padding: 5px;
}

.titleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    align-self: center;
}
.titleWrapper img{
    max-width: 100%;
    max-height: 100vh;
}

.titleWrapper p{
    display: flex;
    align-self: center;
    line-height: .1vh;

}

.firstName{
    font-size: 10vw;
    margin: 8vh;
    padding-top: 0;
    padding-bottom: 2vh;
    letter-spacing: 1.5vw;
    
}

.lastName{
    letter-spacing: 2.5vw;
    font-size: 12vw;
    margin: 4vh;
    padding-bottom: 2vh;
}

.onTheIssues{
    letter-spacing: 2vw;
    font-size: 3vw;
    font-style: oblique;
    padding-bottom: 3vh;
}

hr{
    width: 90%;
    border: 0; 
    margin-bottom: 3vh;
    height: 1.5px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	
}

/*PAGE STYLING*/
form{
    margin-top: 50px;
    transition: all 2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.form-control{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 18px;
    font-family: "Poppins";
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.page_container{
    display: flex;
    width: 75vw;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.right{
    width: 50%;
}

.right img{
    width: 100%;
    border-radius: 2px;
    box-shadow: .3rem .3rem 3rem 1px rgba(0, 0, 0, .3);
}

.page_container .left{
    width: 50%;
    margin-right: 2vw;
    height: 50vh;
}

.contact_form textarea{
    height: 15vh;
}

form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    transition: .25s ease-in-out;
}

form .submit:hover{
    background-color: #cc3025;
    cursor: pointer;
}

.contactheader{
    display: flex;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.contactheader h3{
    font-size: 2rem;
}












/*FOOTER STYLING*/
.footer{
    position: fixed;
    bottom: 0px;
    width: 90%;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    width: 95%
}

.left_box_content span{
    margin: 20px 0 20px 20px 
}

.left_box_content .social a{
    padding: 0 
}

.left_box_content .social a span{
    height: 40px;
    width: 40px;
    background: #e6e6e686;
    line-height: 40px;
    text-align: center;
    font-size: 1.8;
    border-radius: 5px;
    transition: 0.3s ease-in
}

.left_box_content .social a span:hover{
    background: #7dd6ff93;
}

@media screen and (max-width: 900px){
    footer{position: relative;
    }

    .footer_content{
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5vw;
    }

    .footer_content h2{
        margin-top: 8vh;
    }
}
