/* NAVBAR STYLING*/

/*Importing the font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: "Poppins"
}
/*Building the Nav*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    margin-bottom: 0vh;
}

nav img{
    width: 17vh;
}

/*Styling the links*/
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.links li{
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.links li:hover{
    text-shadow: 1px 1px 10px #4492ec83;
    filter: dropshadow(color=#44dcf783, offx=2, offy=2);
}

.links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/*Button*/
.button{
    background-color: transparent;
    border-radius: 5px;
    font-family: "Poppins";
    border: solid 1.5px black;
    height: 4.5vh;
    width: 12.6vw;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*Creating the burger*/
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: transform 0.5s ease;
}

@media screen and (max-width:1024px){
    .links{
        width: 70%;
    }
    .button{
        width: 13vh
    }

}


@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }

    .links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #4f8cfe;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .links li{
        opacity: 0;
        color: white;
    }
    .burger{
        display: block;
    }
    .button{
        height: 10vh
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 7.5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -7.5px);
}

.body{
    color: white;
}


/*FOOTER STYLING*/
.footer{
    position: fixed;
    bottom: 0px;
    width: 90%;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    width: 95%
}

.left_box_content span{
    margin: 20px 0 20px 20px 
}

.left_box_content .social a{
    padding: 0 
}

.left_box_content .social a span{
    height: 40px;
    width: 40px;
    background: #e6e6e686;
    line-height: 40px;
    text-align: center;
    font-size: 1.8;
    border-radius: 5px;
    transition: 0.3s ease-in
}

.left_box_content .social a span:hover{
    background: #7dd6ff93;
}

@media screen and (max-width: 900px){
    footer{position: relative;
    }

    .footer_content{
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5vw;
    }

    .footer_content h2{
        margin-top: 8vh;
    }
}

.hr_main{
    width: 90%;
    border: 0; 
    margin-bottom: 3vh;
    height: 1.5px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	
}

.subhr{
    width: 35vw;
    border: 0; 
    margin-bottom: 3vh;
    margin-top: 0px;
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #618dd344, #004ecc, #618dd344);
    background-image: -moz-linear-gradient(left, #618dd344, #004ecc, #618dd344);
    background-image: -ms-linear-gradient(left, #618dd344, #004ecc, #618dd344);
    background-image: -o-linear-gradient(left, #618dd344, #004ecc, #618dd344);

}

/*BUILDING THE CARDS*/

.main__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card{
    width: 70%;
    height: 45vh;
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(59, 99, 163, 0.2);
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.card .video{
    width: 60%;
}

.card .cardtextbox{
    width: 40%;
}

.card .video{
    position: relative;
    width: 100%; 
  }
  .card .video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    height: 100%;
  }


  /*BUILDING THE WEBSITE TITLE*/
.titleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    height: 35vh;
    align-self: center;
}

.titleWrapper p{
    display: flex;
    align-self: center;
    line-height: .1vh;

}

.firstName{
    font-size: 10vw;
    margin: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    letter-spacing: 1.5vw;
    
}

.post__button{
    display: inline-block;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 75%);
    border-radius: .8rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}